                <nav class="flex space-x-6 text-gray-400 font-medium">
                    <a href="#" class="hover:text-gray-700">Séries</a>
                    <a href="#" class="text-gray-700">Films</a>
                </nav>
        